
.pink{
    color: #ee4952 !important; 
}
.bg-pink{
    background-color: #ee4952 !important; 
}

.white{
    color: #fff !important; 
}

.blue{
    color: #0b183d;
}
.bg-blue{
    background-color: #0b183d;
}


/* header section */
.navbar-bg{
    background-color: #0b183d;
    /* background-color: #fff; */
}

.containers{
    width: 90%;
    margin: 0 auto;
}

.side{
    font-size: 20px;
}

.side:hover{
    color: #ee4952 !important; 
}

.head{
    font-weight: 600;
    font-size: 30px !important;
}

/* hero section */
.hero{
    /* height: 80vh; */
    background-color: #08192d;
}

.hero-h1{
    padding-top: 7rem;
}

p{
    text-align: justify;
}
.para-a{
    animation: gimg 1s 1;

}

.col{
    margin-bottom: 75px;
    margin-top: 75px;
}

.button,.buttonc{
    border: none;
    padding: 20px 30px;
    border-radius: 30px;
}

.image{
    animation: gimg 1s 1;
}

@keyframes gimg{
    from{
        display: none;
        margin-top: 20px;
    }
    top{
        margin-top: 0px;
    }
}

/* how it works  */
.work{
    padding-top: 100px;
    padding-bottom: 0px;
}

.circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ee4952;
}

.icon-container{
    position: relative;
}

.icon{
    position: absolute;
    top: 12px;
    left: 35px;
}

/* artists */
.pp{
    width: 200px;
    height: 200px;
    background-color: #ee4952;
    border-radius: 25px;
    overflow: hidden;
}

.imgpp{
    width: 200px;
    height: 200px;
}

/* subscriptions */
.scheme{
    width: 95%;
    height: 95%;
    background-color: #1c294a;
    border-radius: 25px;

}

.list{
    list-style-image: url('/images/tick.png');
}

/* premium */
.prem-img{
    width: 190px;
    height: 190px;
    border-radius: 50%;
    overflow: hidden;
}

/* media queries for mobile */
@media screen and (max-width: 600px) {
    .image{
        display: none;
    }

    .para{
        margin-top: 20px !important;
        margin-bottom: 30px;
        
    }
    .pp {
        margin-left: 4rem !important;
    }
    .prem-img{
        margin-left: 3rem !important;

    }

    .flex-basis{
        flex-basis: inherit !important;
    }

    .cen{
        text-align: center;
    }

    .buttonc{
        margin: 0 4.5rem;
    }
  }